button {
  font-size: 25px;
  border-radius: 10px;
  background-color: rgb(5, 245, 37);
  border: 2px solid black;
  cursor: pointer;
}

button.restar {
  background-color: rgb(255, 3, 3);
}

.app {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
